---
import Container from "@components/container.astro";
import Link from "@components/ui/link.astro";
import Dropdown from "./dropdown.astro";
import { Astronav, MenuItems, MenuIcon } from "astro-navbar";
// import { Image } from "@astrojs/image/components";

const menuitems = [
  {
    title: "About",
    path: "#",
    children: [
      { title: "About Chainflow", path: "/about-chainflow" },
      { title: "Our Validator", path: "our-validator" },
    ],
  },
  {
    title: "Values",
    path: "/values",
  },
  {
    title: "Solana Contributions",
    path: "/solana-contributions",
  },
  {
    title: "Blog",
    path: "/blog",
  },
  {
    title: "Contact",
    path: "/contact",
  },
];
---

<Container>
  <header class="flex flex-col lg:flex-row justify-between items-center my-5">
    <Astronav>
      <div class="flex w-full lg:w-auto items-center justify-between">
        <a href="/">
          <img src="/logo.svg" alt="descriptive text" width="50" height="50" />
        </a>
        <div class="block lg:hidden">
          <MenuIcon class="w-4 h-4 text-gray-800" />
        </div>
      </div>
      <MenuItems class="hidden w-full lg:w-auto mt-2 lg:flex lg:mt-0">
        <ul class="flex flex-col lg:flex-row lg:items-center lg:gap-3">
          {
            menuitems.map((item, index) => (
              <>
                {item.children && (
                  <Dropdown
                    title={item.title}
                    children={item.children}
                    lastItem={index === menuitems.length - 1}
                  />
                )}

                {!item.children && (
                  <li>
                    <a
                      href={item.path}
                      class="flex lg:px-3 py-2 text-gray-600 hover:text-orange-500">
                      {item.title}
                    </a>
                  </li>
                )}
              </>
            ))
          }
          <li class="pt-4 lg:pt-0">
            <Link
              href="#"
              href="https://solanacompass.com/staking#delegating/CAf8jfgqhia5VNrEF4A7Y9VLD3numMq9DVSceq7cPhNY/"
              target="_blank"
              rel="noopener">
              Stake With Us
            </Link>
          </li>
        </ul>
      </MenuItems>
    </Astronav>
  </header>
</Container>
